#content .content_area {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

#content .global_seven_title h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

#content .global_seven_title p {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-bottom: 30px;
}

#content .global_expansion {
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

#content .global_expansion img {
    width: 100%;
    display: block;
    object-fit: contain;
}

#content .global_expansion .global_text {
    position: absolute;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

#content .global_expansion .global_text1 {
    position: absolute;
    top: 27%;
    right: 2%;
    color: #fff;
    background: var(--font-color-main);
    padding: 5px 8px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    opacity: 1;
}

#content .global_expansion .global_text2 {
    position: absolute;
    top: 63%;
    left: 2%;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6rem;
    text-align: justify;
    opacity: 1;
}
#content .global_expansion .global_text2 span {
    color: var(--font-color-main);
}

#content .global_expansion .global_text1.active,
#content .global_expansion .global_text2.active {
    opacity: 1;
    transform: translateY(0);
}
