#content .content_area {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}
#content .eleven_shorts_title h3,
#content .global_seven_title h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#content .eleven_shorts_title p,
#content .global_seven_title p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#content .global_expansion {
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

#content .global_expansion img {
    width: 100%;
    display: block;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#content .global_expansion .global_text {
    position: absolute;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

#content .global_expansion .global_text1 {
    position: absolute;
    top: 27%;
    right: 2%;
    color: #fff;
    background: var(--font-color-main);
    padding: 5px 8px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#content .global_expansion .global_text2 {
    position: absolute;
    top: 63%;
    left: 2%;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6rem;
    text-align: justify;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#content .global_expansion .global_text2 span {
    color: var(--font-color-main);
}

#content .eleven_shorts_content .swiper-wrapper {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#content .eleven_shorts_content .swiper-wrapper.active,
#content .eleven_shorts_title p.active,
#content .eleven_shorts_title h3.active,
#content .global_expansion img.active,
#content .global_expansion .global_text1.active,
#content .global_expansion .global_text2.active,
#content .global_seven_title h3.active,
#content .global_seven_title p.active {
    opacity: 1;
}

/* 세븐 리얼 스토리 */

#content .eleven_shorts_content .eleven_shorts_title {
    width: 100%;
    margin: 50px 0;
}

#content .eleven_shorts_content .swiper-wrapper {
    width: 100%;
}

#content .eleven_shorts_content .swiper-slide {
    width: 50%;
}

#content .eleven_shorts_content .swiper-slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
